/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

/* Estilos del encabezado y navegación */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos de la sección Galería */
#gallery {
    padding: 50px 20px;
    background-color: #fff;
}

#gallery h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.gallery-item {
    flex: 1 1 30%;
    max-width: 30%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-top: 50px;
}

footer p {
    margin: 0;
    font-size: 16px;
}


