/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px 0;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  header nav ul li a:hover {
    color: #ff6f61;
  }
  
  
  /* Carrusel */
  .carousel {
    position: relative;
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-container img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    flex-shrink: 0;
  }
  
  .carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
  }
  
  .carousel-nav.left {
    left: 10px;
  }
  
  .carousel-nav.right {
    right: 10px;
  }
  
  .carousel-nav:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
 