/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  /* Navbar */
  header {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Sección Sobre Nosotros */
  .about-section {
    padding: 40px;
    background-color: white;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-section h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
  }
  
  .about-section p {
    text-align: center;
    color: #555;
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  /* Contenido de la sección "Quiénes somos" */
  .about-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .about-item {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-basis: 30%;
    max-width: 30%;
    text-align: center;
  }
  
  .about-item h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .about-item p, .about-item ul {
    color: #555;
    font-size: 1rem;
  }
  
  .about-item ul {
    list-style-type: none;
    padding: 0;
  }
  
  .about-item ul li {
    margin-bottom: 5px;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  